{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}



{% block body %}
    <div id="commande_container">
        {% include('panier/progressbar.html.twig') %}
    <h1>Commande</h1>
        <h2>Adresse de facturation</h2>

    {% if app.user.adresse %}
    DEJA ADRESSE
    {% else %}
        <div class="info_form_container">
            <form method="post" class="info_form">
                <div class="info_form_content_left">
                    <div class="info_item">
                        <label for="adresse">Adresse</label>
                        <input type="text" name="adresse" id="adresse" placeholder="9 Rue de Québec">
                    </div>
                    <div class="info_item_row">
                        <div class="info_item">
                            <label for="cp">Code postal</label>
                            <input id="cp" name="cp" type="tel" pattern="[0-9]{5}" maxlength="5" placeholder="10000">
                        </div>
                        <div class="info_item">
                            <label for="ville">Ville</label>
                            <input type="text" name="ville" id="ville" placeholder="Troyes">
                        </div>
                    </div>
                    <div class="info_item">
                        <label for="pays">Pays</label>
                        <select name="pays" id="pays">
                            <option value="AF">Afghanistan</option>
                            <option value="ZA">Afrique du Sud</option>
                            <option value="AL">Albanie</option>
                            <option value="DZ">Algérie</option>
                            <option value="DE">Allemagne</option>
                            <option value="MK">Ancienne République yougoslave de Macédoine</option>
                            <option value="AD">Andorre</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctique</option>
                            <option value="AG">Antigua-et-Barbuda</option>
                            <option value="AN">Antilles néerlandaises</option>
                            <option value="SA">Arabie saoudite</option>
                            <option value="AR">Argentine</option>
                            <option value="AM">Arménie</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australie</option>
                            <option value="AT">Autriche</option>
                            <option value="AZ">Azerbaïdjan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahreïn</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbade</option>
                            <option value="BE">Belgique</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Bénin</option>
                            <option value="BM">Bermudes</option>
                            <option value="BT">Bhoutan</option>
                            <option value="BY">Biélorussie</option>
                            <option value="BO">Bolivie</option>
                            <option value="BA">Bosnie-et-Herzégovine</option>
                            <option value="BW">Botswana</option>
                            <option value="BR">Brésil</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgarie</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodge</option>
                            <option value="CM">Cameroun</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cap-Vert</option>
                            <option value="CL">Chili</option>
                            <option value="CN">Chine</option>
                            <option value="CY">Chypre</option>
                            <option value="CO">Colombie</option>
                            <option value="KM">Comores</option>
                            <option value="CG">Congo</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d'Ivoire</option>
                            <option value="HR">Croatie</option>
                            <option value="CU">Cuba</option>
                            <option value="DK">Danemark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominique</option>
                            <option value="EG">Égypte</option>
                            <option value="SV">El Salvador</option>
                            <option value="AE">Émirats arabes unis</option>
                            <option value="EC">Équateur</option>
                            <option value="ER">Érythrée</option>
                            <option value="ES">Espagne</option>
                            <option value="EE">Estonie</option>
                            <option value="FM">États fédérés de Micronésie</option>
                            <option value="US">États-Unis</option>
                            <option value="ET">Éthiopie</option>
                            <option value="FJ">Fidji</option>
                            <option value="FI">Finlande</option>
                            <option value="FR" selected>France</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambie</option>
                            <option value="GE">Géorgie</option>
                            <option value="GS">Géorgie du Sud-et-les Îles Sandwich du Sud</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Grèce</option>
                            <option value="GD">Grenade</option>
                            <option value="GL">Groenland</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GN">Guinée</option>
                            <option value="GQ">Guinée équatoriale</option>
                            <option value="GW">Guinée-Bissau</option>
                            <option value="GY">Guyane</option>
                            <option value="GF">Guyane française</option>
                            <option value="HT">Haïti</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hongrie</option>
                            <option value="BV">Ile Bouvet</option>
                            <option value="CX">Ile Christmas</option>
                            <option value="NF">Île Norfolk</option>
                            <option value="PN">Île Pitcairn</option>
                            <option value="AX">Iles Aland</option>
                            <option value="KY">Iles Cayman</option>
                            <option value="CC">Iles Cocos (Keeling)</option>
                            <option value="CK">Iles Cook</option>
                            <option value="FO">Îles Féroé</option>
                            <option value="HM">Îles Heard-et-MacDonald</option>
                            <option value="FK">Îles Malouines</option>
                            <option value="MP">Îles Mariannes du Nord</option>
                            <option value="MH">Îles Marshall</option>
                            <option value="UM">Îles mineures éloignées des États-Unis</option>
                            <option value="SB">Îles Salomon</option>
                            <option value="TC">Îles Turques-et-Caïques</option>
                            <option value="VG">Îles Vierges britanniques</option>
                            <option value="VI">Îles Vierges des États-Unis</option>
                            <option value="IN">Inde</option>
                            <option value="ID">Indonésie</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Irlande</option>
                            <option value="IS">Islande</option>
                            <option value="IL">Israël</option>
                            <option value="IT">Italie</option>
                            <option value="LY">Jamahiriya arabe libyenne</option>
                            <option value="JM">Jamaïque</option>
                            <option value="JP">Japon</option>
                            <option value="JO">Jordanie</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KG">Kirghizistan</option>
                            <option value="KI">Kiribati</option>
                            <option value="KW">Koweït</option>
                            <option value="LS">Lesotho</option>
                            <option value="LV">Lettonie</option>
                            <option value="LB">Liban</option>
                            <option value="LR">Libéria</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lituanie</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MG">Madagascar</option>
                            <option value="MY">Malaisie</option>
                            <option value="MW">Malawi</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malte</option>
                            <option value="MA">Maroc</option>
                            <option value="MQ">Martinique</option>
                            <option value="MU">Maurice</option>
                            <option value="MR">Mauritanie</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexique</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolie</option>
                            <option value="MS">Montserrat</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibie</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Népal</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigéria</option>
                            <option value="NU">Niué</option>
                            <option value="NO">Norvège</option>
                            <option value="NC">Nouvelle-Calédonie</option>
                            <option value="NZ">Nouvelle-Zélande</option>
                            <option value="OM">Oman</option>
                            <option value="UG">Ouganda</option>
                            <option value="UZ">Ouzbékistan</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palaos</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papouasie-Nouvelle-Guinée</option>
                            <option value="PY">Paraguay</option>
                            <option value="NL">Pays-Bas</option>
                            <option value="PE">Pérou</option>
                            <option value="PH">Philippines</option>
                            <option value="PL">Pologne</option>
                            <option value="PF">Polynésie française</option>
                            <option value="PR">Porto Rico</option>
                            <option value="PT">Portugal</option>
                            <option value="TW">Province chinoise de Taiwan</option>
                            <option value="QA">Qatar</option>
                            <option value="SY">République arabe syrienne</option>
                            <option value="CF">République centrafricaine</option>
                            <option value="KR">République de Corée</option>
                            <option value="MD">République de Moldavie</option>
                            <option value="CD">République démocratique du Congo</option>
                            <option value="DO">République dominicaine</option>
                            <option value="IR">République islamique d'Iran</option>
                            <option value="KP">République populaire démocratique de Corée</option>
                            <option value="LA">République Populaire du Laos</option>
                            <option value="CZ">République tchèque</option>
                            <option value="TZ">République-Unie de Tanzanie</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Roumanie</option>
                            <option value="GB">Royaume-Uni</option>
                            <option value="RU">Russie</option>
                            <option value="RW">Rwanda</option>
                            <option value="EH">Sahara occidental</option>
                            <option value="KN">Saint-Christophe-et-Niévès</option>
                            <option value="SM">Saint-Marin</option>
                            <option value="PM">Saint-Pierre-et-Miquelon</option>
                            <option value="VA">Saint-Siège (Cité du Vatican)</option>
                            <option value="VC">Saint-Vincent-et-les Grenadines</option>
                            <option value="SH">Sainte-Hélène</option>
                            <option value="LC">Sainte-Lucie</option>
                            <option value="WS">Samoa</option>
                            <option value="AS">Samoa américaines</option>
                            <option value="ST">Sao Tomé-et-Principe</option>
                            <option value="SN">Sénégal</option>
                            <option value="CS">Serbie-et-Monténégro</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapour</option>
                            <option value="SK">Slovaquie</option>
                            <option value="SI">Slovénie</option>
                            <option value="SO">Somalie</option>
                            <option value="SD">Soudan</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SE">Suède</option>
                            <option value="CH">Suisse</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard et Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="TJ">Tadjikistan</option>
                            <option value="TD">Tchad</option>
                            <option value="IO">Territoire britannique de l'océan Indien</option>
                            <option value="TF">Territoire Francais du Sud</option>
                            <option value="PS">Territoires palestiniens occupés</option>
                            <option value="TH">Thaïlande</option>
                            <option value="TL">Timor oriental</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinité-et-Tobago</option>
                            <option value="TN">Tunisie</option>
                            <option value="TM">Turkménistan</option>
                            <option value="TR">Turquie</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UA">Ukraine</option>
                            <option value="UY">Uruguay</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Vénézuéla</option>
                            <option value="VN">Vietnam</option>
                            <option value="WF">Wallis-et-Futuna</option>
                            <option value="YE">Yémen</option>
                            <option value="ZM">Zambie</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </div>
                </div>
                <div class="info_form_content_right">
                    <div class="info_item_row">
                        <div class="info_item">
                            <label for="prenom">Prénom</label>
                            <input type="text" name="prenom" id="prenom">
                        </div>
                        <div class="info_item">
                            <label for="nom">Nom</label>
                            <input type="text" name="nom" id="nom">
                        </div>
                    </div>
                    <div class="info_item">
                        <label for="ntel">Numéro de téléphone</label>
                        <input type="tel" name="ntel" id="ntel" placeholder="+33 6 00 00 00 00">
                    </div>
                </div>
                <small class="info">
                    <i class="fa-solid fa-circle-info"></i>
                    Ces informations seront sauvegardé dans votre profil,
                    vous pourrez les modifier à tout moment dans celui-ci.
                </small>
            </form>
        </div>
    {% endif %}

        <h2>Moyen de paiement</h2>
        <div class="info_form_container">
            <form method="post" class="info_form">
                <div class="info_form_content_left">
                    <div class="info_item_row">
                        <div class="info_item">
                            <label for="cb">Numero de la carte</label>
                            <input id="cb" name="cb" type="tel" pattern="[0-9]{19}" maxlength="19" placeholder="0000 0000 0000 0000">
                        </div>
                        <div class="info_item">
                            <label for="cvv">Code de sécurité</label>
                            <input id="cvv" name="cvv" type="tel" pattern="[0-9]{3}" maxlength="3" placeholder="123">
                        </div>
                    </div>
                    <div class="info_item">
                        <label for="nomentier">Nom complet sur la carte</label>
                        <input id="nomentier" name="nomentier" type="text">
                    </div>
                    <div class="info_item_row info_row_date">
                        <div class="info_item info_date">
                            <label for="mois">Date</label>
                            <select name="mois" id="mois">
                                <option>Mois</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="info_item info_date">
                            <select id="annee" name="annee">
                                <option>Année</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="info_form_content_right" id="carte_container">
                    <div class="info_item" id="carte">
                        <img src="{{ asset('images/carte_b.svg') }}" alt="Carte bancaire"/>
                        <div id="carte_num">
                            0000 0000 0000 0000
                        </div>
                        <div id="carte_nom">
                            John Doe
                        </div>
                        <div id="carte_date">
                            01/23
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Récapitulatif</h2>
    {% for event in liste %}
        {{ event.nom }}
        x{{ event.quantite }}
        {{ event.prix * event.quantite }}€
    {% endfor %}

    <script>
        active = 3;
        updateProgress();
    </script>
{% endblock %}
