{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}



{% block body %}
    <div id="commande_container">
        {% include('panier/progressbar.html.twig') %}
        <h1>Commande</h1>
        <h2>Récapitulatif</h2>
        {% for event in liste %}
            <div>
                <p>{{ event.nom }} x{{ event.quantite }}</p>
                {{ event.prix * event.quantite }}€
            </div>
        {% endfor %}
        <hr>

        {% if app.user.adresse and app.request.query.get('edit') %}
            {% include('panier/_adresse_cb.html.twig') %}
        {% elseif app.user.adresse %}
            <div class="profil_container">
                <h2 class="profil_title">Informations personnelles</h2>
                <div class="profil_item">
                    <p>Prénom</p>
                    <p>{{ app.user.prenom }}</p>
                </div>
                <div class="profil_item">
                    <p>Nom</p>
                    <p>{{ app.user.nom }}</p>
                </div>
                <div class="profil_item">
                    <p>Numéro de téléphone</p>
                    <p>{{ app.user.telNum }}</p>
                </div>
                <div class="profil_item">
                    <p>Adresse</p>
                    <p>{{ app.user.adresse }}, {{ app.user.ville }} {{ app.user.cp }}
                        , {{ app.user.pays|country_name('fr') }}</p>
                </div>
                <form action="{{ path('app_commande', {'edit': '1'}) }}" method="post">
                    <input type="hidden" name="liste" value="{{ panier }}">
                    <button type="submit" class="profil_link" href="{{ path('app_profil', {'edit':'1'}) }}">MODIFIER
                    </button>
                </form>
            </div>
            {% include('panier/_cb.html.twig') %}
        {% elseif app.user.adresse is null %}
            {% include('panier/_adresse_cb.html.twig') %}
        {% endif %}




        {#        <form method="post" action="{{ path('app_validation') }}"> #}
        {#            <input type="hidden" name="reservation" value="{{ panier }}"> #}
        {#            <input id="log_btn" type="submit" value="Procéder au paiement"> #}
        {#        </form> #}
    </div>




    <script>
        document.addEventListener('DOMContentLoaded', () => {
            active = 3;
            updateProgress();
        })
    </script>
    <script src="{{ asset('scripts/cb.js') }}"></script>
{% endblock %}
