{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <h2>Informations personelles</h2>
    <form method="post">

    </form>

    <h2>Adresse de facturation</h2>
    <form method="post">

    </form>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque aut beatae blanditiis consequatur consequuntur dicta, dolorum facilis fugit labore molestias nisi perferendis perspiciatis ratione repudiandae sequi, soluta voluptate!
    <h2 id="commandes">Historique de commandes</h2>
    {% for reservation in reservations %}
        <p>Commande n°{{ reservation.id }}</p>
        <ul>
        {% for detail in reservation.ligneReservations %}
            <li> - {{ detail.event.nom }} x{{ detail.nbplace }} | {{ detail.nbplace * detail.event.prix }}€</li>
        {% endfor %}
        </ul>

        <p>Du {{ reservation.date|format_datetime('full', 'short', locale='fr')}}</p>


        <a href="{{ path('app_commande_detail', {'id': reservation.id}) }}">Voir plus</a>
    {% endfor %}


{% endblock %}
