{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="display_cat">
        <div class="display_cat_g display_center">
            <div class="barre"></div>
            <p>Profil</p>
            <div class="barre"></div>
        </div>
    </div>
    {% if app.user.adresse and app.request.query.get('edit') %}
        {% include('profil/_adresse.html.twig') %}
    {% elseif app.user.adresse %}
        <div class="profil_container">
            <h2 class="profil_title">Informations personnelles</h2>
            <div class="profil_item">
                <p>Prénom</p><p>{{ app.user.prenom }}</p>
            </div>
            <div class="profil_item">
                <p>Nom</p><p>{{ app.user.nom }}</p>
            </div>
            <div class="profil_item">
                <p>Numéro de téléphone</p><p>{{ app.user.telNum }}</p>
            </div>
            <div class="profil_item">
                <p>Adresse</p><p>{{ app.user.adresse }}, {{ app.user.ville }} {{ app.user.cp }}, {{ app.user.pays|country_name('fr') }}</p>
            </div>
            <a class="profil_link" href="{{ path('app_profil', {'edit':'1'}) }}">MODIFIER</a>
        </div>
        <div class="profil_container">
            <h2 class="profil_title">Informations de connexion</h2>
            <div class="profil_item">
                <p>Email</p><p>{{ app.user.email }}</p>
            </div>
            <div class="profil_item">
                <p>Mot de passe</p><p>**************</p>
            </div>
        </div>

        {% if app.request.query.get('success') %}
            <div class="success_info" id="success_info">Changement avec succès !</div>
            <script src="{{ asset('scripts/success.js') }}"></script>
        {% endif %}
    {% else %}
        {% include('profil/_adresse.html.twig') %}
    {% endif %}

    <h2 id="commandes">Historique de commandes</h2>
    {% for reservation in reservations %}
        <p>Commande n°{{ reservation.id }}</p>
        <ul>
        {% for detail in reservation.ligneReservations %}
            <li> - {{ detail.event.nom }} x{{ detail.nbplace }} | {{ detail.nbplace * detail.event.prix }}€</li>
        {% endfor %}
        </ul>

        <p>Du {{ reservation.date|format_datetime('full', 'short', locale='fr')}}</p>


        <a href="{{ path('app_commande_detail', {'id': reservation.id}) }}">Voir plus</a>
    {% endfor %}



    <style>
        .historique_container_img1 {
            background: url("{{ asset('uploads/40x60-The-Black-Legends-V13_sanslogos-copie-scaled-1339307945.jpg') }}");
            background-size: cover;
            background-position: center;
        }
        .historique_container_img2 {
            background: url("{{ asset('uploads/2643153_les-producteurs-theatre-de-paris-2.jpg') }}");
            background-size: cover;
            background-position: center;
        }
        .historique_container_img3 {
            background: url("{{ asset('uploads/Affiche-RespireEncoretour-ClaraLuciani_f0ec7b94-b457-44af-90fe-157ee4861df2_900x.webp') }}");
            background-size: cover;
            background-position: center;
        }
    </style>


    <div class="historique_content">
        {% for reservation in reservations %}
        <div class="historique_container">
            <div class="historique_container_img">
                <div class="historique_container_img1"></div>
                <div class="historique_container_img2"></div>
                <div class="historique_container_img3"></div>
            </div>
            <div class="historique_container_bottom">
                <p>Commande n°{{ reservation.id }}</p>
                <h1>Le {{ reservation.date|format_datetime('full', 'short', locale='fr')}}</h1>
                <h2>
                    {% for detail in reservation.ligneReservations %}
                        {{ detail.nbplace * detail.event.prix }}
                        {% set foo =  0 %}
                        {% set foo =  foo + 5 %}
                        {{ foo }}
                    {% endfor %}
                </h2>
                <a href="#">voir plus ›</a>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}
