{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h1>Evenements</h1>
    {% for evenement in evenements %}
        <div>
            <img src="{{ evenement.affiche }}" alt="Image de {{ evenement.nom }}">
            <div>
                <h2>{{ evenement.nom }}</h2>
                <p>{{ evenement.date|format_datetime('full', 'short', locale='fr') }}</p>
            </div>
            <div>
                <p>{{ evenement.lieu.nom }}</p>
                <p>{{ evenement.prix }} €</p>
            </div>
            <a href="{{ path('app_evenement', { id:evenement.id, genre: evenement.genre.nom}) }}">
                GO
            </a>
        </div>
    {% endfor %}
{% endblock %}
