{% extends 'base.html.twig' %}

{% block description %}{{ meta_description }}{% endblock %}
{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <style>
        .event_affichage_top {
            background: url( {{asset("uploads/#{ evenement.affiche }")}} ) !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: 200% !important;
        }
    </style>
    <div class="event_affichage_top">
        <div class="event_grid_1">
            <div class="event_affiche">
                <img class="test" loading="lazy" id="event_img" src="{{ asset("uploads/#{ evenement.affiche }") }}"
                     alt="Image de {{ evenement.nom }}">
            </div>
            <div class="event_title">
                <h1 id="event_nom">{{ evenement.nom }}</h1>
                <div><img src="" alt="star">
                    <h3>{{ evenement.realisateur }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="event_info">
        <div class="event_info_left">
            <h4>Présentation</h4>
            <p>{{ evenement.description }}</p>
            {% if evenement.cast %}
                <h4>Casting</h4>
                <p>{{ evenement.cast }}</p>
            {% endif %}
            <h4>En savoir plus sur le lieu</h4>
            <p>{{ evenement.lieu.nom }}</p>
            <p>Adresse: {{ evenement.lieu.adresse }}</p>
            <p>Capacité du lieu: {{ evenement.lieu.capacite }} places</p>
            <iframe class="iframe_map" src="{{ evenement.lieu.iframe }}" title="Adresse de {{ evenement.lieu.nom }}"></iframe>

        </div>
        <div class="event_info_right">
            <div>
                <h5 class="event_info_right_prix"><span id="event_prix">{{ evenement.prix }}</span>€</h5>
                <p class="event_info_right_livraison">livraison instantanée par mail</p>
            </div>
            <div>
                <p class="event_info_right_revertion">Réservation</p>
                <p class="event_info_right_date">pour le <span id="event_date">{{ evenement.date|format_datetime('short', 'short', locale='fr') }}</span></p>
            </div>
            <div>
                <div class="selecteur_nb">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="moins_panier" >-</button>
                    <input type="number" value="1" min="1" max="99" id="event_quantite" aria-label="Nombre d'évenements sélectionnés">
                    <input type="hidden" id="event_id" value="{{ evenement.id }}">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                </div>
                <a class="ajout_panier ajout_panier-reverse" id="ajout" href="{{ path('app_panier') }}">Acheter maintenant <i class="fa-solid fa-ticket"></i></a>
                <button class="ajout_panier" id="btn_ajout">Ajouter au panier <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
    </div>
        <div class="display_cat">
            <div class="display_cat_g">
                <p>à découvrir dans ce lieu</p></div>
        </div>
    <div class="suite">

        {% for evenement in suggestions %}
            <a class="event_card" href="{{ path('app_evenement', { id:evenement.id, genre: evenement.genre.nom}) }}">
                <div class="event_card_image">
                    <img class="test" loading="lazy" src="{{ asset("uploads/#{ evenement.affiche }") }}"
                         alt="Image de {{ evenement.nom }}">
                </div>
                <div class="event_card_content">
                    <div class="event_card_content_top">
                        <h4>{{ evenement.nom }}</h4>
                        <p>{{ evenement.date|format_datetime('full', 'short', locale='fr') }}</p>
                    </div>
                    <div class="event_card_content_bottom">
                        <div>
                            <img src="{{ asset('icon/location-dot-solid.svg') }}" alt="">
                            <p>{{ evenement.lieu.nom }}</p>
                        </div>
                        <p class="event_card_content_prix">{{ evenement.prix }} €</p>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
{#    <div>#}
{#        <div>#}
{#            <h2>Présentation</h2>#}
{#            <p>{{ evenement.description }}</p>#}
{#            <h2>Casting</h2>#}
{#            <p>{{ evenement.cast }}</p>#}
{#            <h2>En savoir plus sur le lieu</h2>#}
{#            <p>{{ evenement.lieu.nom }}</p>#}
{#            <p>{{ evenement.lieu.adresse }}</p>#}
{#            <p>{{ evenement.lieu.capacite }}</p>#}
{#            <h2>Suggestions</h2>#}
{#            <div>#}
{#                CARDS A METTRE ICI#}
{#            </div>#}
{#        </div>#}
{#        <div>#}
{#            BOITE MISE AU PANIER#}
{#            <span id="event_prix">{{ evenement.prix }}</span> €#}

{#            <input type="number" value="1" min="1" max="99" id="event_quantite">#}
{#            <input type="hidden" id="event_id" value="{{ evenement.id }}">#}
{#            <button id="btn_ajout" class="ajouter_au_panier">Ajouter au panier</button>#}
{#        </div>#}
{#    </div>#}

    <div>
        {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}
    </div>

    <script defer src="{{ asset('scripts/produits.js') }}"></script>
{% endblock %}

