{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div>
        <img src="" alt="Image de {{ evenement.nom }}">
        <h1>{{ evenement.nom }}</h1>
        <p>{{ evenement.realisateur }}</p>
        <p>{{ evenement.date|format_datetime('full', 'short', locale='fr') }}</p>

        <h2>Presentation</h2>
        <p>{{ evenement.description }}</p>
        {% if evenement.cast %}
            <h2>Cast</h2>
            <p>
                {{ evenement.cast }}
            </p>
        {% endif %}

        {% if evenement.tag %}
            <h2>Cast</h2>
            <p>
                {{ evenement.tag.nom }}
            </p>
        {% endif %}




    </div>
{% endblock %}
