<footer class="footer">
    <div class="footer_container">
        <div class="row">
            <div class="footer-col">
                <h4>Nous connaître</h4>
                <ul>
                    <li><a href="#">à propos de nous</a></li>
                    <li><a href="{{ path('app_cgu') }}">CGU</a></li>
                    <li><a href="{{ path('app_cgv') }}">CGV</a></li>
                    <li><a href="#">Collecte des données</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Besoin d'aide ?</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Statut de commande</a></li>
                    <li><a href="#">Service client</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Billeterie</h4>
                <ul>
                    <li><a href="#">evenements</a></li>
                    <li><a href="{{ path('app_evenement_genre', {'genre': 'film'}) }}">film</a></li>
                    <li><a href="{{ path('app_evenement_genre', {'genre': 'theatre'}) }}">théâtre</a></li>
                    <li><a href="{{ path('app_evenement_genre', {'genre': 'concert'}) }}">concert</a></li>
                    <li><a href="{{ path('app_evenement_genre', {'genre': 'exposition'}) }}">exposition</a></li>
                    <li><a href="{{ path('app_evenement_genre', {'genre': 'spectacle'}) }}">spectacle</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Suivez nous !</h4>
                <div class="social-links">
                    <a href="#" aria-label="Lien vers facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" aria-label="Lien vers twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="Lien vers instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="Lien vers linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>