<div class="nav1">
    <a class="logo" href="{{ path('app_accueil') }}">
            <img src="{{ asset('images/logo_blanc_lyontour.png') }}" alt="">
    </a>
    <div class="burger"><i class="fa-solid fa-bars"></i></div>
    <div class="container_searchbar">
        <form action="{{ path('app_evenements') }}">
            <select class="choix" name="genre" id="pet-select">
                <option value="">Dans toutes nos catégories</option>
                <option value="Film">Film</option>
                <option value="Spectacle">Spectacle</option>
                <option value="Concert">Concert</option>
                <option value="Théâtre">Théâtre</option>
                <option value="Exposition">Exposition</option>

            </select>
            <input class="search_bar" type="text" placeholder="tapez votre recherche" name="recherche">
            <button class="chercher" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="container_navbar_right">
        <a href="{{ path('app_panier') }}">
            <div class="panier">
                <div class="conteur_cart"><img src="{{ asset('icon/shopping-cart.png') }}" alt="">
                    <div class="bulle_panier">
                        <p class="pannier_nombre">0</p>
                    </div>
                </div>
                <p>Panier</p>
            </div>
        </a>
        <a href="{{ path('app_profil') }}">
            <div class="container_compte">
                {% if app.user %}
                {% if app.user.email | length > 20 %}
                    <style>
                        .container_compte {
                            background: red;
                        }
                    </style>
                {% endif %}
                    <p>{{ app.user.email}}</p>
                {% else %}
                    <p>Non connecté</p>
                {% endif %}
                <p>Compte</p>
            </div>
        </a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">
                Se déconnecter
            </a>
        {% endif %}
    </div>
</div>
<div class="nav2">
    <a href="{{ path('app_evenements') }}">Evenements</a>
    <a href="{{ path('app_evenement_genre', {'genre': 'film'}) }}">Film</a>
    <a href="{{ path('app_evenement_genre', {'genre': 'theatre'}) }}">Théâtre</a>
    <a href="{{ path('app_evenement_genre', {'genre': 'concert'}) }}">Concert</a>
    <a href="{{ path('app_evenement_genre', {'genre': 'exposition'}) }}">Exposition</a>
    <a href="{{ path('app_evenement_genre', {'genre': 'spectacle'}) }}">Spectacle</a>
</div>
<div class="nav3_gradient"></div>
<div class="nav3">
    <a href="#" class="active"><i class="fa-solid fa-house fa-xl"></i>Acceuil</a>
    <a href="#"><i class="fa-solid fa-user fa-xl"></i>Compte</a>
    <a href="#"><i class="fa-solid fa-cart-shopping fa-xl"></i>Pannier</a>
</div>