{% extends 'base.html.twig' %}

{% block description %}{{ meta_description }}{% endblock %}
{% block title %}{{ controller_name }}{% endblock %}
{% block body %}
    <div class="display_cat">
        <div class="display_cat_g display_center">
            <div class="barre"></div>
            <p>Lieux</p>
            <div class="barre"></div>
        </div>
    </div>
    <div class="lieux_container">
        {% for lieu in lieux %}
        <div class="lieux_affichage">
            <div class="lieux_affichage_top">
                <h2>{{ lieu.nom }}</h2>
                <h3>{{ lieu.capacite }} places</h3>
                <p>{{ lieu.description }}</p>
            </div>
            <div class="lieux_affichage_img">
                <img src="{{ asset("uploads/#{ lieu.image1 }") }}" alt="{{ lieu.nom }} image 1">
                <img src="{{ asset("uploads/#{ lieu.image2 }") }}" alt="{{ lieu.nom }} image 2">
                <img src="{{ asset("uploads/#{ lieu.image3 }") }}" alt="{{ lieu.nom }} image 3">
            </div>
            <div class="lieux_affichage_carte">
                <h4> {{ lieu.adresse }} </h4>
                <iframe frameBorder="0" src="{{ lieu.iframe }}"></iframe>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
